@model DI.Example.Web.Models.ExampleEntityViewModel

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>ExampleEntity details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
</p>
